swagger: "2.0"
info:
  description: |
    Metadata templates Rest API
  version: "1.0.0"
  title: Metadata Templates Service API
  contact:
    name: michael_conway@unc.edu
host: renci.org
basePath: /v1
schemes:
  - https
paths:
  /server/ping:
    get:
      tags:
        - status
      summary: Get a ping back from the server
      description: 'Call iRODS as an authorized user and get back a simple ping response'
      operationId: server
      produces:
        - application/json
        - application/xml
      parameters:
        - name: midTierOnly
          in: query
          description: causes ping to only reach the REST mid tier and not query the back-end, provides a simple heartbeat of the mid-tier.  By default a ping will talk to the back end iRODS server
          required: false
          default: false
          type: boolean
      responses:
          200:  
            description: 'Successful ping, containing info on how long it too the REST backend to connect to iRODS'
            schema:
                $ref: '#/definitions/Ping'
  /templates/public:
    get:
      tags:
        - query
      summary: List publicly available metadata templates
      description: "List all publicly available metadata templates in the configured public repo"
      operationId: listPublicTemplates
      produces:
        - application/json
        - application/xml
      responses:
          200:
            description: 'List of metadata templates retrieved'
            schema:
              $ref: '#/definitions/MetadataTemplateList'
definitions:
  MetadataTemplateList:
    type: object
    properties:
       metadataTemplate:
        type: array
        description: Metadata Template
        items:
          $ref: "#/definitions/RestMetadataTemplate"
  RestMetadataTemplate:
    type: object
    required:
      - uuid
      - name
      - created
      - modified
      - type
      - destination
      - required
      - metadataTemplateElements
    properties:
      uuid:
          type: string
          description: 'uuid for the tamplate'
      name:
          type: string
          description: display name of the template
      description:
          type: string
          description: free form description
      author:
          type: string
          description: author of metadata template
      created:
          type: string
          format: date-time
          description: create date of template  
      modified:
          type: string
          format: date-time
          description: modification date of template  
      version:
          type: string
          description: optional version number
      type:
          description: functional type of metadata template (e.g. form versus automatic)
          type: array
          items: 
              type: string
              enum:
                - FORM_BASED
                - GENERATED
      destination:
          description: disposition of metadata created by template
          type: array
          items: 
              type: string
              enum:
                - IRODS
      required:
          description: indicates whether entry of this metadata is required
          type: boolean
      metadataTemplateElements:
        type: array
        description: Metadata Template Elements
        items:
          $ref: "#/definitions/RestMetadataTemplateElement"
  RestMetadataTemplateElement:
    type: object
    required:
      - uuid
      - name
      - i18nName
      - description
      - i18nDescription
      - required
      - elementType
      - validationStyle
    properties:
      uuid:
          type: string
          description: uuid for the element
      name:
          type: string
          description: display name of the element
      i18nName:
          type: string
          description: display name of the element as an internationalized property
      description:
          type: string
          description: free form description in English for user prompt
      i18nDescription:
          type: string
          description: free form description as an internationalized property
      required:
          type: boolean
          description: if set this element is required in the template
      elementType:
          description: describes the data type the element contains, for validation and UI hints
          type: array
          items: 
              type: string
              enum:
                - RAW_STRING
                - RAW_TEXT
                - RAW_URL 
                - RAW_INT
                - RAW_FLOAT
                - RAW_BOOLEAN
                - RAW_DATE
                - RAW_TIME
                - RAW_DATETIME
                - REF_IRODS_QUERY
                - REF_IRODS_CATALOG
                - REF_URL
                - LIST_STRING
                - LIST_INT
                - LIST_FLOAT
      validationStyle:
          description: describes how validation will be done on the element
          type: array
          items: 
              type: string
              enum:
                - DEFAULT
                - IS
                - IN_LIST
                - IN_RANGE
                - IN_RANGE_EXCLUSIVE
                - REGEX
                - FOLLOW_REF
                - DO_NOT_VALIDATE
      validationOptions:
          type: array
          description: additional validation information allowing specification of the options for an element.  For example, these can be shown in a drop down list of the element must be in-list
          items:
            type: string
      defaultValue:
          type: array
          description: defines the default value for this element. Ref query dot notation appears here, signaling the default will be derived from information held elsewhere in the catalog
          items:
            type: string   
      currentValue:
          type: array
          description: defines the current value of this element in a retrieved and resolved instance of the metadata template. That is, after a merge of templates and stored metadata values is done
          items:
            type: string   
  Ping:
    type: object
    properties:
      pingTime:
        type: number
        format: float
        description: milliseconds to connect to iRODS and get a response from the perspective of the mid-tier service
     
      
 
  
  
  
  
  
  
  
  
  
  
  
  
      
